@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

div.post-header {
    display: flex;
}

div.post-header-createdate {
    margin-left: auto;
}

div.post-headline {
    display: flex;
}

div.post-header-action {
    margin-left: auto;
    color: #2858FF;
}

.post-title {
    font-weight: 600;
}

div.rulecreator {
    display: flex;
}

div.typeahead {
    width: 100%;
}

.status-bar {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    font-size: 12px;
    color: #AAAAAA;
}

span.post-body{
    margin-left: 6px;
}

div.post {
    margin: 2px;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
}
div.post.flash {
    animation-name: flash;
    animation-duration: 1s;
}

div.flex {
    display: flex;
}

text.plot-label {
    cursor: pointer;
}

div.post-footer {
    display: flex;
}

div.stock-badges {
    margin-right: auto;
}

div.post-tags {

}

div.post-dot {
    background: #2858FF;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    margin: 1px;
    opacity: 0;
}

div.post-dot.fade {
    animation-name: fade-opacity;
    animation-duration: 30s;
}

div.post-dots {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

div.post-dots-container {
    display: flex;
}

b.post-tag {
    margin-right: 6px;
}

b.post-tag.source-press {
    color: #4B8B3B;
}
b.post-tag.source-reddit {
    color: #FF5700;
}
b.post-tag.source-twitter {
    color: #CE2626;
}
b.post-tag.source-vip {
    color: #FFD700;
}
b.post-tag.source-misc {
    color: #FF00FF;
}
div.badge.symbol {
    color: white;
    margin-right: 6px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3273dc;
}

div.badge.rank {
    color: white;
    margin-left: 6px;
    font-size: 16px;
}

div.badge.level-6 {
    background-color: #CE2626;
}
div.badge.level-5 {
    background-color: #D54545;
}
div.badge.level-4 {
    background-color: #DC6464;
}
div.badge.level-3 {
    background-color: #E38383;
}
div.badge.level-2 {
    background-color: #EAA2A2;
}
div.badge.level-1 {
    background-color: #F1C1C1;
}
div.badge.level-0 {
    background-color: #F8E0E0;
}



$colors: (
    0: #267D7B,
    1: #8FC273,
    2: #21384E,
    3: #C4DF79,
    4: #7CB0B0,
    5: #BBDAAB,
    6: #768594,
    7: #DBEAAC,
    8: #509597,
    9: #A6CF8E,
    10: #475E6D,
    11: #D0E594,
);

@for $i from 0 to 256 {
    path.order-#{$i} {
        fill: none;
        stroke-width: 3;
        stroke: map-get($colors, $i % 12);
    }
    text.order-#{$i} {
        fill: map-get($colors, $i % 12);
    }
}

@keyframes flash {
  from {background-color: #8888FF;}
  to {background-color: white;}
}

@keyframes fade-opacity {
  from {opacity: 1;}
  to {opacity: 0;}
}